@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";
:root {
  --bg-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 641 502' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M324.674 0.184613C360.917 1.28989 397.683 6.01904 428.747 24.7337C459.549 43.2903 471.133 81.2417 498.311 104.794C542.155 142.788 618.736 149.985 636.889 205.106C653.658 256.023 615.028 312.07 579.911 352.559C547.131 390.352 493.07 396.886 449.4 421.272C406.489 445.234 372.935 485.832 324.674 495.088C272.37 505.119 210.386 508.489 168.909 475.065C127.122 441.39 143.547 371.699 115.083 326.188C85.0483 278.168 -2.6939 261.688 0.0635468 205.106C2.88032 147.306 82.7396 128.418 126.561 90.6546C156.293 65.033 181.175 34.5735 216.872 18.2723C250.593 2.87312 287.624 -0.945273 324.674 0.184613Z' fill='%23FFD599'/%3E%3C/svg%3E%0A");
  --image: url("data:image/svg+xml,%3Csvg viewBox='0 0 593 465' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M300.277 0.17065C333.797 1.19233 367.801 5.56378 396.531 22.8629C425.018 40.0159 435.732 75.0968 460.868 96.8674C501.418 131.988 572.243 138.641 589.033 189.592C604.542 236.658 568.814 288.466 536.336 325.892C506.02 360.826 456.02 366.866 415.632 389.408C375.945 411.558 344.913 449.085 300.277 457.641C251.904 466.913 194.578 470.029 156.217 439.132C117.57 408.004 132.761 343.584 106.435 301.516C78.6577 257.128 -2.49148 241.895 0.0587719 189.592C2.66389 136.164 76.5225 118.704 117.051 83.7977C144.549 60.1141 167.562 31.9585 200.576 16.8902C231.764 2.6558 266.012 -0.873775 300.277 0.17065Z' fill='%239D2121'/%3E%3C/svg%3E%0A");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/********Loader**********/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.loader {
  border-radius: 50%;
  width: 130px;
  height: 100px;
  color: #fff;
}
.loader img {
  width: 100%;
  height: 100%;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

.loaded .loader-container {
  opacity: 0;
  pointer-events: none;
}

/*************Mixins Start************/
/*************Mixins End************/
.slider {
  display: none;
}

body {
  background: #C8CFA0;
}

.Wrapper {
  width: 100%;
  height: 100vh;
  background: #FCDC94;
  border-bottom-left-radius: 50%;
  /*************HEader/Navbar START************/
  /*************HEader/Navbar  END************/
  /*************First section  Start************/
}
.Wrapper .Header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Wrapper .Header .Navbar {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Wrapper .Header .Navbar .Logosec {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Wrapper .Header .Navbar .Logosec img {
  width: 100%;
  margin-left: 40px;
  height: 80%;
}
.Wrapper .Header .Navbar .Logosec h2 {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  color: #f7f1ef;
}
.Wrapper .Header .Navbar .Navsec {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Wrapper .Header .Navbar .Navsec .Navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 100%;
  list-style: none;
  text-decoration: none;
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
}
.Wrapper .Header .Navbar .Navsec .Navlist a {
  font-size: 1.2rem;
  color: #4b4646;
  text-decoration: none;
  font-weight: bolder;
}
.Wrapper .Header .Navbar .Navsec .Navlist a:hover {
  color: #d1b3b3;
}
.Wrapper .Firstsection {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*************left section  Start************/
  /*************left section  End************/
}
.Wrapper .Firstsection .Leftsection {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*************mainsec************/
}
.Wrapper .Firstsection .Leftsection .main-textsec {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  /*****button code********/
  /* CSS */
  /* CSS */
  /*************end*****************/
}
.Wrapper .Firstsection .Leftsection .main-textsec h1 {
  margin-top: 30px;
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  font-size: 4rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
.Wrapper .Firstsection .Leftsection .main-textsec h1 .anitext {
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
.Wrapper .Firstsection .Leftsection .main-textsec p {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  font-weight: bold;
}
.Wrapper .Firstsection .Leftsection .main-textsec .button-29 {
  background: #78ABA8;
  border: 1px solid #78ABA8;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  font-size: 20px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 24px 29px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.Wrapper .Firstsection .Leftsection .main-textsec .button-29:hover {
  background-color: initial;
  background-position: 0 0;
  color: #78ABA8;
}
.Wrapper .Firstsection .Leftsection .main-textsec .button-29:active {
  background-color: initial;
  background-position: 0 0;
  color: #78ABA8;
  opacity: 0.5;
}
.Wrapper .Firstsection .Leftsection .main-textsec .button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.Wrapper .Firstsection .Rightsection {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Wrapper .Firstsection .Rightsection .container {
  width: 90%;
  margin: 50px auto;
  padding: 0 15px;
}
.Wrapper .Firstsection .Rightsection .image-block {
  padding-bottom: 78.4%;
  width: 100%;
  position: relative;
}
.Wrapper .Firstsection .Rightsection .image-block__body {
  -webkit-mask-image: var(--bg-image);
  mask-image: var(--bg-image);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  top: -20px;
  left: -20px;
  z-index: 1;
  background: #C8CFA0;
}
.Wrapper .Firstsection .Rightsection img {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: var(--image);
  mask-image: var(--image);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/*************second section  start************/
.Secondsection {
  width: 100%;
  height: 70vh;
  background: #FCDC94;
}
.Secondsection .Subsecondsec {
  width: 100%;
  height: 100%;
  background: #C8CFA0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.Secondsection .Subsecondsec .Headersec {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Secondsection .Subsecondsec .Headersec h1 {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  font-size: 4rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-size: 4.5rem;
}
.Secondsection .Subsecondsec .Contentsec {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Secondsection .Subsecondsec .Contentsec .imagesec {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Secondsection .Subsecondsec .Contentsec .imagesec .container {
  width: 100%;
  padding: 0 15px;
}
.Secondsection .Subsecondsec .Contentsec .imagesec .image-block {
  padding-bottom: 78.4%;
  width: 100%;
  position: relative;
}
.Secondsection .Subsecondsec .Contentsec .imagesec .image-block__body {
  -webkit-mask-image: var(--bg-image);
  mask-image: var(--bg-image);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  top: -20px;
  left: -20px;
  z-index: 1;
  background: #FFD599;
}
.Secondsection .Subsecondsec .Contentsec .imagesec img {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: var(--image);
  mask-image: var(--image);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.Secondsection .Subsecondsec .Contentsec .textsec {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
}
.Secondsection .Subsecondsec .Contentsec .textsec p {
  width: 80%;
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: 10px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  padding: 0px 20px 0 20px;
}

/*************second section  End************/
/*************Third section  start************/
.ThirdSection {
  width: 100%;
  height: 70vh;
  background: #C8CFA0;
}
.ThirdSection .SubThirdSection {
  width: 100%;
  height: 100%;
  background: #FCDC94;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.ThirdSection .SubThirdSection .Headersec {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ThirdSection .SubThirdSection .Headersec h1 {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  font-size: 4rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-size: 4rem;
}
.ThirdSection .SubThirdSection .Contentsec {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ThirdSection .SubThirdSection .Contentsec .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  cursor: pointer;
}
.ThirdSection .SubThirdSection .Contentsec .container .card {
  position: relative;
  width: 20vw;
  height: 400px;
  margin: 0 auto;
  background: #fff;
  border-radius: 7px;
  -webkit-mask-image: var(--bg-image);
  mask-image: var(--bg-image);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  z-index: 1;
  transition-property: all, visibility;
  transition-duration: 1s, 0s;
  transition-timing-function: ease-in-out, linear;
  transition: all 0.3s ease;
  position: relative;
}
.ThirdSection .SubThirdSection .Contentsec .container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden {
  box-sizing: border-box;
  padding: 20px;
}
.ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden .btn {
  margin: 50px;
  height: 30px;
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  color: #037fa1;
  background: #037fa1;
  color: #fff;
  border-radius: 15px;
  border: 2px solid #037fa1;
  transition: all 0.5s ease;
  margin-top: -60px;
}
.ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden .btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}
.ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden.hid1 {
  background-image: url(../images/TherapyDog1.jpg);
  background-position: center;
  background-size: cover;
}
.ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden.hid2 {
  background-image: url(../images/group-thrapey.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden.hid3 {
  background-image: url(../images/schools-and-nurseries-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden.hid4 {
  background-image: url(../images/office.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ThirdSection .SubThirdSection .Contentsec .container .card .face.front {
  display: grid;
  grid-template-rows: 175px 100px;
  grid-template-areas: "icon" "text";
  background: #111;
  text-align: center;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ThirdSection .SubThirdSection .Contentsec .container .card .face.front i {
  grid-area: icon;
}
.ThirdSection .SubThirdSection .Contentsec .container .card .face.front h2 {
  grid-area: text;
}
.ThirdSection .SubThirdSection .Contentsec .container .card:nth-child(1) .face.front {
  background: #db4921;
}
.ThirdSection .SubThirdSection .Contentsec .container .card:nth-child(2) .face.front {
  background: #037fa1;
}
.ThirdSection .SubThirdSection .Contentsec .container .card:nth-child(3) .face.front {
  background: #3ec9be;
}
.ThirdSection .SubThirdSection .Contentsec .container .card:hover .face.front {
  width: 0px;
}
.ThirdSection .SubThirdSection .Contentsec .container .card .face.front:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.ThirdSection .SubThirdSection .Contentsec .face.front i {
  grid-area: icon;
  display: block;
  font-size: 30px;
  margin-top: 125px;
  color: #fff;
  font-weight: normal;
  transition: all 0.5s ease;
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ThirdSection .SubThirdSection .Contentsec .container .card:hover .face.front i {
  font-size: 0;
}
.ThirdSection .SubThirdSection .Contentsec .face.front h2 {
  grid-area: text;
  font-size: 1.5vw;
  color: #fff;
  margin-top: -60px;
  width: 80%;
  text-align: center;
  margin-bottom: 100px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
}
.ThirdSection .SubThirdSection .Contentsec .container .card:hover .face.front h2 {
  font-size: 0;
}
.ThirdSection .SubThirdSection .Contentsec .expanded {
  width: 600px;
  height: 550px;
  z-index: 999;
  position: relative;
}
.ThirdSection .SubThirdSection .Contentsec .expanded.num1 {
  left: 200px;
}
.ThirdSection .SubThirdSection .Contentsec .expanded.num2 {
  left: 100px;
}
.ThirdSection .SubThirdSection .Contentsec .expanded.num3 {
  right: 100px;
}
.ThirdSection .SubThirdSection .Contentsec .expanded.num4 {
  right: 200px;
}
.ThirdSection .SubThirdSection .Contentsec .collapsed {
  opacity: 0;
  width: 0;
  height: 0;
}

/*************Third section  End************/
/*************Fourth section  start************/
.FourthSection {
  width: 100%;
  height: 100vh;
  background: #FCDC94;
}
.FourthSection .SubFourthSection {
  width: 100%;
  height: 100%;
  background: #C8CFA0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.FourthSection .SubFourthSection .Headersec {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.FourthSection .SubFourthSection .Headersec h1 {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  font-size: 4rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-size: 4rem;
}
.FourthSection .SubFourthSection .Contentsec {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.FourthSection .SubFourthSection .Contentsec .carousel {
  width: 100%;
  max-width: 1200px;
}
.FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  position: relative;
  overflow: hidden;
  margin: 20px;
  min-width: 220px;
  max-width: 400px;
  width: 100%;
  height: 500px;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 * {
  box-sizing: border-box;
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 img {
  max-width: 100%;
  vertical-align: middle;
}
.FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 iframe {
  max-width: 100%;
  vertical-align: middle;
}
.FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 blockquote {
  position: relative;
  background-color: #ffffff;
  padding: 25px 50px 25px 50px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
.FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 blockquote:before, .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 blockquote:after {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
.FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}
.FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 blockquote:after {
  content: "”";
  right: 20px;
  bottom: 0;
}
.FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}
.FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}
.FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
.FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

/*************Fourth section  End************/
/*************fifth section  start************/
.fifthSection {
  width: 100%;
  height: 90vh;
  background: #C8CFA0;
}
.fifthSection .SubfifthSection {
  width: 100%;
  height: 100%;
  background: #FCDC94;
  margin-bottom: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.fifthSection .SubfifthSection .Headersec {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fifthSection .SubfifthSection .Headersec h1 {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  font-size: 4rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-size: 4rem;
}
.fifthSection .SubfifthSection .Contentsec {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fifthSection .SubfifthSection .Contentsec .card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fifthSection .SubfifthSection .Contentsec .card-container .card {
  width: 300px;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2000px;
  margin: 0 50px;
  border-radius: 30px;
}
.fifthSection .SubfifthSection .Contentsec .card-container .cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.fifthSection .SubfifthSection .Contentsec .card-container .wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 30px;
}
.fifthSection .SubfifthSection .Contentsec .card-container .card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  filter: blur(5px);
}
.fifthSection .SubfifthSection .Contentsec .card-container .wrapper::before, .fifthSection .SubfifthSection .Contentsec .card-container .wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.fifthSection .SubfifthSection .Contentsec .card-container .wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
}
.fifthSection .SubfifthSection .Contentsec .card-container .wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
}
.fifthSection .SubfifthSection .Contentsec .card-container .card:hover .wrapper::before, .fifthSection .SubfifthSection .Contentsec .card-container .wrapper::after {
  opacity: 1;
  border-radius: 30px;
}
.fifthSection .SubfifthSection .Contentsec .card-container .card:hover .wrapper::after {
  height: 120px;
  border-radius: 30px;
}
.fifthSection .SubfifthSection .Contentsec .card-container .title {
  width: 100%;
  transition: transform 0.5s;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
.fifthSection .SubfifthSection .Contentsec .card-container .card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}
.fifthSection .SubfifthSection .Contentsec .card-container .character {
  width: 110%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
.fifthSection .SubfifthSection .Contentsec .card-container .card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

/*************fifth section  end************/
.footer {
  background-color: #C8CFA0;
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400p;
  font-style: normal;
  font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  padding: 20px 0;
  border-top-right-radius: 50%;
  margin-top: 100px;
  font-weight: bold;
}
.footer .container {
  max-width: 1170px;
  margin: auto;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
}
.footer ul {
  list-style: none;
}
.footer .footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer .footer-col h4 {
  font-size: 28px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #E91E63;
  width: 50px;
  height: 2px;
}
.footer .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer .footer-col ul li a {
  color: #6c6666;
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer .footer-col ul li a:hover {
  color: #000000;
  padding-left: 7px;
}
.footer .footer-col .social-links a {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  transition: all 0.5s ease;
}
.footer .footer-col .social-links a:hover {
  color: #403d3d;
  background-color: #FFF;
}

/*************Mobile  RESOISIVE   START************/
@media only screen and (min-width: 360px) and (max-width: 640px) {
  /* navbarsection  for mobile Start */
  body {
    zoom: 100%;
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    height: 100vh;
    background-color: black;
    position: fixed;
    right: -60%;
    transition: 2s;
    top: 0%;
    z-index: 999;
  }
  .changeslider {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    transition: 2s;
    right: 30%;
    top: 0%;
    z-index: 999;
  }
  .navlistmob {
    height: 50%;
    width: 65%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .navcontain {
    display: flex;
    justify-content: flex-end;
    width: 65%;
    height: 100%;
  }
  .navlistmob li {
    text-decoration: none;
    margin-top: 20px;
  }
  .navlistmob li img {
    width: 60vw;
  }
  .navlistmob a {
    font-size: 30px;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  .Wrapper {
    width: 100%;
    height: 150vh;
    background: #FCDC94;
    /*************HEader/Navbar START************/
    /*************HEader/Navbar  END************/
    /*************First section  Start************/
  }
  .Wrapper .Header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Wrapper .Header .Navbar {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .Wrapper .Header .Navbar .container {
    display: inline-block;
    cursor: pointer;
    padding-right: 0px;
  }
  .Wrapper .Header .Navbar .bar1, .Wrapper .Header .Navbar .bar2, .Wrapper .Header .Navbar .bar3 {
    width: 45px;
    height: 6px;
    background-color: #fffcfc;
    margin: 8px 0;
    transition: 0.4s;
  }
  .Wrapper .Header .Navbar .change .bar1 {
    transform: rotate(-45deg) translate(-10px, 8px);
  }
  .Wrapper .Header .Navbar .change .bar2 {
    opacity: 0;
  }
  .Wrapper .Header .Navbar .change .bar3 {
    transform: rotate(45deg) translate(-10px, -10px);
  }
  .Wrapper .Header .Navbar .Logosec {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Wrapper .Header .Navbar .Logosec img {
    width: 100%;
    margin-left: 40px;
    height: 80%;
  }
  .Wrapper .Header .Navbar .Logosec h2 {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    color: #f7f1ef;
  }
  .Wrapper .Header .Navbar .Navsec {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .Wrapper .Header .Navbar .Navsec .Navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    list-style: none;
    text-decoration: none;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  }
  .Wrapper .Header .Navbar .Navsec .Navlist a {
    font-size: 1.3rem;
    color: #001f3f;
    text-decoration: none;
    font-weight: bolder;
  }
  .Wrapper .Firstsection {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    /*************left section  Start************/
    /*************left section  End************/
  }
  .Wrapper .Firstsection .Leftsection {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*************mainsec************/
  }
  .Wrapper .Firstsection .Leftsection .main-textsec {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    /*****button code********/
    /* CSS */
    /* CSS */
    /*************end*****************/
  }
  .Wrapper .Firstsection .Leftsection .main-textsec h1 {
    text-align: center;
    margin-top: 10px;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    font-size: 3rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  }
  .Wrapper .Firstsection .Leftsection .main-textsec h1 .anitext {
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  }
  .Wrapper .Firstsection .Leftsection .main-textsec p {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
  }
  .Wrapper .Firstsection .Leftsection .main-textsec .button-29 {
    background: #001f3f;
    border: 1px solid #001f3f;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    font-size: 20px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 24px 29px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    -moz-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  .Wrapper .Firstsection .Leftsection .main-textsec .button-29:hover {
    background-color: initial;
    background-position: 0 0;
    color: #001f3f;
  }
  asdfg .Wrapper .Firstsection .Leftsection .main-textsec .button-29:active {
    background-color: initial;
    background-position: 0 0;
    color: #001f3f;
    opacity: 0.5;
  }
  .Wrapper .Firstsection .Leftsection .main-textsec .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    -moz-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  .Wrapper .Firstsection .Rightsection {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Wrapper .Firstsection .Rightsection .imagesec {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .Wrapper .Firstsection .Rightsection .imagesec .subimagesec {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px #f9f9f9;
    animation: animatebigbub 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  .Wrapper .Firstsection .Rightsection .imagesec :after {
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 12+ */
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80ffffff", endColorstr="#00ffffff", GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 50%;
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  }
  .Wrapper .Firstsection .Rightsection .imagesec img {
    width: 100%;
    height: 90%;
  }
  @keyframes animatebigbub {
    0% {
      left: 100px;
      top: 0px;
    }
    25% {
      left: 0px;
      bottom: asdfg100px;
    }
    50% {
      left: -100px;
      top: -100px;
    }
    75% {
      left: 0px;
      top: 0px;
    }
    100% {
      left: 100px;
      top: 0px;
    }
  }
  /*************second section  start************/
  .Secondsection {
    width: 100%;
    height: 180vh;
    background: #FCDC94;
  }
  .Secondsection .Subsecondsec {
    width: 100%;
    height: 100%;
    background: #C8CFA0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 50%;
  }
  .Secondsection .Subsecondsec .Headersec {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Secondsection .Subsecondsec .Headersec h1 {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    font-size: 4rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    font-size: 3rem;
  }
  .Secondsection .Subsecondsec .Contentsec {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Secondsection .Subsecondsec .Contentsec .imagesec {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Secondsection .Subsecondsec .Contentsec .imagesec .container {
    width: 90%;
    padding: 0 15px;
  }
  .Secondsection .Subsecondsec .Contentsec .imagesec .image-block {
    padding-bottom: 78.4%;
    width: 100%;
    position: relative;
  }
  .Secondsection .Subsecondsec .Contentsec .imagesec .image-block__body {
    -webkit-mask-image: var(--bg-image);
    mask-image: var(--bg-image);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    top: -20px;
    left: -20px;
    z-index: 1;
    background: #FFD599;
  }
  .Secondsection .Subsecondsec .Contentsec .imagesec img {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-mask-image: var(--image);
    mask-image: var(--image);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
  .Secondsection .Subsecondsec .Contentsec .textsec {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
  }
  .Secondsection .Subsecondsec .Contentsec .textsec p {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    font-size: 1rem;
    font-weight: bold;
    white-space: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 0px 20px 0 20px;
  }
  /*************second section  End************/
  /*************Third section  start************/
  .ThirdSection {
    width: 100%;
    height: 160vh;
    background: #C8CFA0;
  }
  .ThirdSection .SubThirdSection {
    width: 100%;
    height: 100%;
    background: #FCDC94;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 50%;
  }
  .ThirdSection .SubThirdSection .Headersec {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ThirdSection .SubThirdSection .Headersec h1 {
    text-align: center;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    font-size: 4rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    font-size: 2rem;
  }
  .ThirdSection .SubThirdSection .Contentsec {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ThirdSection .SubThirdSection .Contentsec .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    cursor: pointer;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card {
    padding: 0 20px;
    width: 20vw;
    height: 400px;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .face.front h2 {
    grid-area: text;
    font-size: 1rem;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .container .card .face.hidden h2 {
    font-size: 1rem;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .container .card .face.hidden p {
    font-size: 0.9em;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background: #fff;
    border-radius: 7px;
    -webkit-mask-image: var(--bg-image);
    mask-image: var(--bg-image);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    z-index: 1;
    transition-property: all, visibility;
    transition-duration: 1s, 0s;
    transition-timing-function: ease-in-out, linear;
    transition: all 0.3s ease;
    position: relative;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden {
    box-sizing: border-box;
    padding: 20px;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden .btn {
    margin: 50px;
    height: 50px;
    width: 100px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins";
    color: #037fa1;
    background: #037fa1;
    color: #fff;
    border-radius: 15px;
    border: 2px solid #037fa1;
    transition: all 0.5s ease;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden .btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: transparent;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden.hid1 {
    background-image: url(/images/TherapyDog1.jpg);
    background-position: center;
    background-size: cover;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden.hid2 {
    background-image: url(/images/group-thrapey.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden.hid3 {
    background-image: url(/images/schools-and-nurseries-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card .face.hidden.hid4 {
    background-image: url(/images/office.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card .face.front {
    display: grid;
    grid-template-rows: 175px 100px;
    grid-template-areas: "icon" "text";
    background: #111;
    text-align: center;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card .face.front i {
    grid-area: icon;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card .face.front h2 {
    grid-area: text;
    margin-top: 60px;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card:nth-child(1) .face.front {
    background: #db4921;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card:nth-child(2) .face.front {
    background: #037fa1;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card:nth-child(3) .face.front {
    background: #3ec9be;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card:hover .face.front {
    width: 0px;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card .face.front:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
  }
  .ThirdSection .SubThirdSection .Contentsec .face.front i {
    grid-area: icon;
    display: block;
    font-size: 30px;
    margin-top: 125px;
    color: #fff;
    font-weight: normal;
    transition: all 0.5s ease;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card:hover .face.front i {
    font-size: 0;
  }
  .ThirdSection .SubThirdSection .Contentsec .face.front h2 {
    grid-area: text;
    font-size: 1rem;
    color: #fff;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 120px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
  }
  .ThirdSection .SubThirdSection .Contentsec .container .card:hover .face.front h2 {
    font-size: 0;
  }
  .ThirdSection .SubThirdSection .Contentsec .expanded {
    width: 600px;
    height: 550px;
    z-index: 999;
    position: relative;
  }
  .ThirdSection .SubThirdSection .Contentsec .expanded.num1 {
    left: 200px;
  }
  .ThirdSection .SubThirdSection .Contentsec .expanded.num2 {
    left: 100px;
  }
  .ThirdSection .SubThirdSection .Contentsec .expanded.num3 {
    right: 100px;
  }
  .ThirdSection .SubThirdSection .Contentsec .expanded.num4 {
    right: 200px;
  }
  .ThirdSection .SubThirdSection .Contentsec .collapsed {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /*************Third section  End************/
  /*************Fourth section  start************/
  .FourthSection {
    width: 100%;
    height: 100vh;
    background: #FCDC94;
  }
  .FourthSection .SubFourthSection {
    width: 100%;
    height: 100%;
    background: #C8CFA0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 50%;
  }
  .FourthSection .SubFourthSection .Headersec {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .FourthSection .SubFourthSection .Headersec h1 {
    text-align: center;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    font-size: 4rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    font-size: 2.5rem;
  }
  .FourthSection .SubFourthSection .Contentsec {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;
  }
  .FourthSection .SubFourthSection .Contentsec .carousel {
    width: 100%;
    max-width: 1600px;
  }
  .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    position: relative;
    overflow: hidden;
    margin: 30px;
    min-width: 220px;
    max-width: 420px;
    color: #333;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
  .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 * {
    box-sizing: border-box;
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  }
  .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 img {
    max-width: 100%;
    vertical-align: middle;
  }
  .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 iframe {
    max-width: 100%;
    vertical-align: middle;
  }
  .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 blockquote {
    position: relative;
    background-color: #ffffff;
    padding: 25px 50px 25px 50px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
  }
  .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 blockquote:before, .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 blockquote:after {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
  }
  .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 blockquote:before {
    top: 25px;
    left: 20px;
  }
  .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 blockquote:after {
    content: "”";
    right: 20px;
    bottom: 0;
  }
  .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 .arrow {
    top: 100%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ffffff;
    margin: 0;
    position: absolute;
  }
  .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 .author {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 25px;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    text-transform: uppercase;
  }
  .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
  }
  .FourthSection .SubFourthSection .Contentsec .carousel figure.snip1139 .author h5 span {
    font-weight: 400;
    text-transform: none;
    padding-left: 5px;
  }
  /*************Fourth section  End************/
  /*************fifth section  start************/
  .fifthSection {
    width: 100%;
    height: 110vh;
    background: #C8CFA0;
  }
  .fifthSection .SubfifthSection {
    width: 100%;
    height: 100%;
    background: #FCDC94;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .fifthSection .SubfifthSection .Headersec {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fifthSection .SubfifthSection .Headersec h1 {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    font-size: 4rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    font-size: 4rem;
  }
  .fifthSection .SubfifthSection .Contentsec {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .fifthSection .SubfifthSection .Contentsec .card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .card {
    width: 400px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2000px;
    margin: 0 50px;
    border-radius: 30px;
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .cover-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 30px;
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    border-radius: 30px;
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    filter: blur(5px);
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .wrapper::before, .fifthSection .SubfifthSection .Contentsec .card-container .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .card:hover .wrapper::before, .fifthSection .SubfifthSection .Contentsec .card-container .wrapper::after {
    opacity: 1;
    border-radius: 30px;
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .card:hover .wrapper::after {
    height: 120px;
    border-radius: 30px;
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .title {
    width: 100%;
    transition: transform 0.5s;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  .fifthSection .SubfifthSection .Contentsec .card-container .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  /*************fifth section  end************/
  @import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";
  .footer {
    background-color: #C8CFA0;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400p;
    font-style: normal;
    font-variation-settingsASDFGasdfg: "BNCE" 0, "INFM" 0, "SPAC" 0;
    padding: 0px 0;
    border-top-right-radius: 50%;
    margin-top: 100px;
    font-weight: bold;
  }
  .footer .container {
    max-width: 1170px;
    margin: auto;
  }
  .footer .row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer ul {
    list-style: none;
  }
  .footer .footer-col {
    width: 100%;
    padding: 0 30px;
  }
  .footer .footer-col h4 {
    font-size: 28px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E91E63;
    width: 50px;
    height: 2px;
  }
  .footer .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer .footer-col ul li a {
    color: #6c6666;
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .footer .footer-col ul li a:hover {
    color: #000000;
    padding-left: 7px;
  }
  .footer .footer-col .social-links a {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    transition: all 0.5s ease;
  }
  .footer .footer-col .social-links a:hover {
    color: #403d3d;
    background-color: #FFF;
  }
}
/**************Mobile  RESOISIVE End************//*# sourceMappingURL=Style.css.map */